In [1]:
from Individual import Individual
from SocWork import SocWork
from Data import Data
import UI

Display all Individuals (ssn and name), the Issue they're struggling with, their assigned Social Worker (name and title) and the date Individual joined

In [3]:
data = Data()
response = data.openDBConnectionWithBundle("PgBundle.properties")
print (response)

inds = data.getIndividuals()
data.closeConnection()
Individual.showAsTable(inds)

NameError: name 'Data' is not defined

Add a new individual

In [ ]:
UI.add_one_individual()

This is a table of social workers, with some info about them, how many clients they have in total and the date they got their oldest client. The user is supposed to be presented with two choices to make: what to sort by (# of clients or oldest client) and the direction of the sort (ASC vs DESC)

In [ ]:
UI.display_workers_and_clients()

Search through Social Workers and Clients by their partial or full name

In [2]:
UI.search_by_name();

Text(value='', description='Enter name:', placeholder='Search')

Button(description='Search', style=ButtonStyle())

         SSN           Name Client/Soc Worker State
0  123456789  Michael Scott     Social Worker    CO
1  992346666    Angie Smith     Social Worker    PA

Empty DataFrame
Columns: [SSN, Name, Client/Soc Worker, State]
Index: []

          SSN              Name Client/Soc Worker State
0   105030030      Jenny Martin        Individual    CA
1   123123333       crazy katia        Individual    SS
2   123456655   William L. Bell     Social Worker    PA
3   123456789     Michael Scott     Social Worker    CO
4   141705623  Lauren Wilkinson        Individual    AZ
5   172161823       Linda Young     Social Worker    NY
6   172161823      Tom Johnston        Individual    NY
7   320017622   Julie J. Flores     Social Worker    PA
8   430201688        Donna Bell     Social Worker    PA
9   432117688         Carol Gee     Social Worker    CA
10  543211002        Clara Jade        Individual    CO
11  616819322        Noah Young     Social Worker    NY
12  667280025  Larry B. Swanson     Social Worker    PA
13  684939977      Ricky Martin        Individual    CA
14  744960079  Doreen M. Cooper     Social Worker    PA
15  759352377  Andrew Wilkinson        Individual    AZ
16  779790234       Mollie Shah        Individual    PA
17  939211120       John Martin        Individual    CA
18  962129501    Thomas J. Mace        Individual    AZ
19  979598408       John Oliver        Individual    PA
20  992346666       Angie Smith     Social Worker    PA

Select workers (ssn, name, title, specialization, state) that currently don't have any clients

In [4]:
data = Data()
response = data.openDBConnectionWithBundle("PgBundle.properties")
print (response)

results = data.display_worker_no_clients()
data.closeConnection()
SocWork.showWorkersNoClientsAsTable(results)

Servus: 2018-05-20 03:55:51.190863+00:00

,SSN,Name,Title,Specialization,State Of Operation
0,992346666,Angie Smith,Psychotherapist,Alcohol Addiction,PA
1,616819322,Noah Young,Phd,Older adult,NY
2,744960079,Doreen M. Cooper,Neuro-psychologist,Clinical Depression,PA
3,320017622,Julie J. Flores,Psychotherapist,Clinical Depression,PA

show statistics of issues by state

In [2]:
UI.search_by_name()

Button(description='Show Statistics by state', style=ButtonStyle())

                 Issue State # of cases
0    Alcohol Addiction    CA          1
1          Child Abuse    CA          2
2          Child Abuse    pp          1
3  Clinical Depression    PA          2
4          Older adult    NY          1
5  Physical Disability    AZ          1
6              Poverty    AZ          2
7        Spousal Abuse    SS          1
8     Terminal illness    CO          1